@using System.Web.Configuration

<footer id="main-footer">
    <section class="footer-info">
		<section class="row">
			<article id="sponsors" class="col-md-4 col-sm-12">
				<section class="title">
					<div class="text">.sponsors</div>
					<div class="line"></div>
				</section>
				<section class="description">
					We would like to thank the following companies to their sponsorship
					of our group! If you would like to become a sponsor please
					<a href="mailto:winnipegdotnet@gmail.com">drop us a line</a>.
				</section>
				<ul class="logos">
					@LocalSponsors()
					@NonLocalSponsors()
				</ul>
			</article>
			<article id="twitter-feed" class="col-md-5 col-sm-12">
				<section class="title">
					<div class="text">@@wpgnetug</div>
					<div class="line"></div>
				</section>
				<a class="twitter-timeline" data-dnt="true" data-chrome="nofooter noheader noscrollbar"
				   href="https://twitter.com/wpgnetug" data-widget-id="381816139803684864">Tweets by @@wpgnetug</a>
				   <hr/>
				<section class="title">
					<div class="text">join the discussion on slack</div>
					<div class="line"></div>
					<form action="/Home/Signup" method="POST">
						<input name="email" class="input" type="email" placeholder="you@yourdomain.com" />
						<button type="submit" class=" slack-submit"><i class="icon-chevron-sign-right"></i></button>
					</form>
					@if (!string.IsNullOrEmpty(@ViewBag.Error))
					{
						<p class="slack-signup-error">
							<i class="fa icon-exclamation-sign"></i>
							@ViewBag.Error  Error.
						</p>
					}
					@if (!string.IsNullOrEmpty(@ViewBag.Success))
					{
					<p class="slack-signup-success">
						<i class="fa icon-check-sign"></i>
						@ViewBag.Success
					</p>
					}

				</section>
			</article>

			<article id="newsletter" class="col-md-3 col-sm-12">
				<section class="miss-meeting">Want to make sure you don't miss a meeting?</section>
				<section class='signup'>
					Then take a minute and sign up for the Winnipeg .Net User Group mailing list!
				</section>
				<section class="follow-events">
					You can be on top of our event schedule, and all you need to do is check you email. Sign up now and don't miss another meeting.
				</section>
				<a href="http://eepurl.com/clTOr" target="_blank" class="add-me">
					Add me to the list
					<i class="icon-chevron-sign-right"></i>
				</a>
			</article>
		</section>

    <section id="copyright">
        <div class="divider"></div>
        <section class="info">
            &copy; Winnipeg Dot Net User Group 2015 
            <br/> 
            @if (ViewBag.IsMobile == true)
            {
                @: mobile -
            }
            v3.1
            - @WebConfigurationManager.AppSettings["appharbor.commit_id"].Substring(0, 6)
        </section>
    </section>
</footer>


@helper LocalSponsors() {
    @Sponsor("http://imaginet.com", "imaginet.png", "Imaginet")
}

@helper NonLocalSponsors() {
    @Sponsor("http://blogs.msdn.com/b/cdndevs/", "MSFT.png", "Microsoft")
    @Sponsor("http://www.ineta.org", "Ineta-Logo.png", "INETA")
    @Sponsor("http://www.jetbrains.com", "jetbrains_logo.png", "Jetbrains")
    @* @Sponsor("http://manning.com", "manning.jpg", "Manning")
    @Sponsor("http://msdn.microsoft.com", "Msdn-Logo.png", "MSDN")
    @Sponsor("http://www.pluralsight-training.net/microsoft/", "pluralsight-logo-for-sponsorships-small.png", "Pluralsight")
    @Sponsor("http://oreilly.com/", "oreilly.gif", "O'Reilly") *@
}

@helper Sponsor(string url, string img, string alt)
    {
    <li class="sponsor">
        <a href="@url" target="_blank"><img src="~/Images/@img" alt="@alt" /></a>
    </li>
}