@using System.Web.Configuration
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @RenderSection("styles", required: false)
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <nav class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">
                        <img src="~/Content/images/logo.gif" width="111" height="30" alt="Dot Net User Group logo" />
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="http://www.eventbrite.com/org/1699161450" target="_blank">Events</a></li>
                            <li><a href="/topics">Topics</a></li>
                            <li><a href="/news">News</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row-fluid">
                <section id="content" class="span10">
                    @RenderBody()
                </section>
                <aside class="sidebar span2">
                    <section class="well sidebar-nav">
                        <ul class="nav nav-list">
                            @LocalSponsors()
                            @NonLocalSponsors()
                        </ul>
                    </section>
                </aside>
            </div>
        </div>
        <hr/>
        <footer class="pull-right">
            &copy; Winnipeg Dot Net User Group 2012 
            - 
            @WebConfigurationManager.AppSettings["appharbor.commit_id"].Substring(0, 5)
            <p>
                @WebConfigurationManager.AppSettings["Environment"]
            </p>
            <p>
                @WebConfigurationManager.AppSettings["EB_APP_KEY"]
            </p>
            <p>
                @WebConfigurationManager.AppSettings["EB_USER_KEY"]
            </p>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/knockout")
        @RenderSection("scripts", required: false)
    </body>
</html>

@helper LocalSponsors()
{
    <li class="nav-header">Local Sponsors</li>
    @Sponsor("http://apptius.com", "apptius-logo.png", "Apptius")
    @Sponsor("http://www.dmt.ca", "", "DMT")
    @Sponsor("http://imaginet.com", "", "Imaginet")
    @Sponsor("http://www.obsglobal.com", "obs-logo.png", "Online Business Systems")
}

@helper NonLocalSponsors()
{
    <li class="nav-header">Non-Local Sponsors</li>
    <li><a href="http://www.ineta.org"><img src="~/Images/Ineta-Logo.png" alt="INETA" /></a></li>
    <li><a href="http://manning.com">Manning</a></li>
    <li><a href="http://msdn.microsoft.com"><img src="~/Images/Msdn-Logo.png" alt="MSDN" /></a></li>
    <li><a href="http://www.pluralsight-training.net/microsoft/"><img src="~/Images/pluralsight-logo-for-sponsorships-small.png" alt="Pluralsight" /></a></li>
    <li><a href="http://oreilly.com/">O'Reilly</a></li>

}

@helper Sponsor(string url, string img, string alt) 
{
    <li>
        <a href="@url"><img src="~/Images/@img" alt="@alt" /></a>
    </li>
}