<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @RenderSection("styles", required: false)
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <nav class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">
                        <img src="~/Content/images/logo.gif" width="111" height="30" alt="Dot Net User Group logo" />
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">Events</a></li>
                            <li><a href="#contact">News</a></li>
                            <li><a href="#contact">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row-fluid">
                <section id="content" class="span10">
                    @RenderBody()
                </section>
                <aside class="sidebar span2">
                    <section class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Local Sponsors</li>
                            <li><a href="#">Apptius</a></li>
                            <li><a href="#">DMT</a></li>
                            <li><a href="#">Imaginet</a></li>
                            <li><a href="#">Online Business Systems</a></li>

                            <li class="nav-header">Non-Local Sponsors</li>
                            <li><a href="#">INETA</a></li>
                            <li><a href="#">Manning</a></li>
                            <li><a href="#">MSDN</a></li>
                            <li><a href="#">Pluralsight</a></li>
                            <li><a href="#">O'Reilly</a></li>

                            <li class="nav-header">Blog Roll</li>
                            <li><a href="http://orthocoders.com">Blog1</a></li>
                            <li><a href="http://orthocoders.com">Blog2</a></li>
                            <li><a href="http://orthocoders.com">Blog3</a></li>
                            
                            <li class="nav-header">Twitter Feed</li>
                            <li><a href="#">Tweet A</a></li>
                            <li><a href="#">Tweet B</a></li>
                            <li><a href="#">Tweet C</a></li>
                            <li><a href="#">Tweet D</a></li>
                        </ul>
                    </section>
                </aside>
            </div>
        </div>
        <hr/>
        <footer>
            &copy; Winnipeg Dot Net User Group 2012
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/knockout")
        @RenderSection("scripts", required: false)
    </body>
</html>
