@using System.Web.Configuration
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @RenderSection("styles", required: false)
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <a id="fork-github" href="https://github.com/WpgDotNetUG/UserGroupWebsite" target="_blank">
            <img style="position: absolute; top: 40px; right: 0; border: 0;" 
                 src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" 
                 alt="Fork me on GitHub">
        </a>
        
        @{ Html.RenderPartial("_navigation"); }

        <div class="container-fluid">
            <div class="row-fluid">
                <section id="content" class="span10">
                    @RenderBody()
                </section>
                @{ Html.RenderPartial("_aside"); }
            </div>
        </div>
        <hr/>
        <footer>
            &copy; Winnipeg Dot Net User Group 2012 
            - 
            v2.0
            - @WebConfigurationManager.AppSettings["appharbor.commit_id"].Substring(0, 6)
        </footer>

        @Scripts.Render("~/scripts/date.js")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/knockout")
        @RenderSection("scripts", required: false)
    </body>
</html>
