<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <nav class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">
                        <img src="/images/logo.png" width="111" height="30" alt="Dot Net User Group logo" />
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">Events</a></li>
                            <li><a href="#contact">News</a></li>
                            <li><a href="#contact">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row-fluid">
                <side class="span3">
                    <section class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Sponsors</li>
                            <li>
                                <a href="#">Apptius</a>
                            </li>
                            <li>
                                <a href="#">Protegra</a>
                            </li>
                            <li>
                                <a href="#">Telerik</a>
                            </li>
                            <li class="nav-header">Blog Roll</li>
                            <li>
                                <a href="http://orthocoders.com">Blog1</a>
                            </li>
                            <li>
                                <a href="http://orthocoders.com">Blog2</a>
                            </li>
                            <li>
                                <a href="http://orthocoders.com">Blog3</a>
                            </li>
                            <li class="nav-header">Twitter Feed</li>
                            <li>
                                Someone said something about....
                            </li>
                        </ul>
                    </section>
                </side>
                <section id="content" class="span9">
                    @RenderBody()
                </section>
            </div>
        </div>
        <hr/>
        <footer>
            &copy; Winnipeg Dot Net User Group 2012
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/viewmodels")
        @RenderSection("scripts", required: false)
    </body>
</html>
