@using System.Web.Configuration
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @RenderSection("styles", required: false)
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        @{ Html.RenderPartial("_navigation"); }

        <section class="container">
            @RenderBody()
        </section>
         
        @{ Html.RenderPartial("_footer"); }

        @Scripts.Render("~/scripts/date.js")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/knockout")
        @RenderSection("scripts", required: false)
    </body>
</html>
