<header>
    <div class="container">
        <section id="social">
            <a href="https://twitter.com/wpgnetug" target="_blank">
                <i class="icon-twitter"></i>
                Follow us on Twitter
            </a>
            <a href="https://github.com/WpgDotNetUG/UserGroupWebsite" target="_blank">
                <i class="icon-github"></i>
                Fork me on GitHub
            </a>
        </section>
        <nav class="row">
            <section id="logo" class="span4">
                <img src="/Content/images/logo_2013.png"/>
                <div class="description">
                <span class="bracket">{</span>
                    Winnipeg <span class="bracket">=></span> Dot Net User Group
                <span class="bracket">}</span>
                </div>
            </section>
            <section id="description" class="span4">
                Winnipeg Dot Net User Group
            </section>
            <section id="main-menu" class="span4">
                <section id="menu">@MenuItems()</section>
                <section id="menu-mobile" class="btn-group">
                    <button class="btn">Go To</button>
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    @MenuItems("dropdown-menu")
                </section>
                <section id="menu-tablet">@MenuItems()</section>
            </section>
        </nav>
    </div>
</header>

@helper MenuItems(string className = "")
{
    var newsSelected = ViewBag.Menu == "News" ? "active" : null;
    <ul class="@className">
        <li><a href="http://www.eventbrite.com/org/1699161450" target="_blank">.events</a></li>
        <li><a href="http://wpgdotnet.ideascale.com/" target="_blank">.topics</a></li>
        <li class="@newsSelected"><a href="/pagenews">.news</a></li>
        <li><a href="mailto: kelly@mindfulsanity.com">.contact</a></li>
    </ul>
}
